

<div id="header">

<%= link_to welcome_index_path do %><p id="logo">FiND</p><% end %>

 <a href=""><p id="language">JPN</p></a>

	<div id="global-navi">

		       <div id="navi">
		          <p><%= link_to image_tag("template/mail"), index_path, target:"_blank" %></p> 
		          <p><%= link_to image_tag("template/login"), target:"_blank" %></p>
		          <p><%= link_to image_tag("template/myp"), target:"_blank"  %></p>
		       </div>


	</div>

</div>


