<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @main_category.name %>
</p>

<%= link_to 'Edit', edit_main_category_path(@main_category) %> |
<%= link_to 'Back', main_categories_path %>
